$orange: #f9913c;
$red: #ff3400;
$gray: #e0e0e0;
$black: #1f1f1f;

.show-basket {
    .basket {
        transform: none;
    }
}

.basket {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5000;
    background-color: #FFF;
    padding: 23.4vw 0 0;
    transform: translate(-100%, 0);
    transition: 0.5s cubic-bezier(1,0,0,1);
    &__container {
        padding: 0;
    }
    &__title {
        height: 17vw;
        font-size: 5.6vw;
        text-align: center;
        line-height: 17vw;
        &--general {
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            background-color: $black;
            color: #fff;
        }
    }
    &__close {
        position: fixed;
        top: 0;
        right: 0;
        width: 17vw;
        height: 17vw;
        span {
            width: 8.75vw;
            height: 1px;
            background-color: #FFF;
            position: absolute;
            top: 50%;
            left: 50%;
            &:nth-child(1) {
                transform: translate(-50%, -50%) rotate(45deg);
            }
            &:nth-child(2) {
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }
    &__products {
        box-sizing: border-box;
        border-top: 1px solid $black;
        border-bottom: 1px solid $black;
    }
}

.products {
    &--basket {
        .products {
            &__counter {
                box-sizing: border-box;
                height: 17vw;
                line-height: 17vw;
                text-align: center;
                font-size: 4.3vw;
                position: relative;
                &:after {
                    content: 'товара';
                    font-size: 4.3vw;
                    margin-left: 1vw;
                }
                &:before {
                    font-family: icon;
                    content: '\e900';
                    font-size: 5vw;
                    color: $black;
                    position: absolute;
                    top: 0;
                    right: 6.8vw;
                    transform: rotate(90deg);
                }
            }
            &__wrapper {
                box-sizing: border-box;
                padding: 0 6.25vw;
            }
        }
    }
}

.product {
    &--basket {
        box-sizing: border-box;
        border: 1px solid $gray;
        font-size: 0;
        padding: 6.25vw 3.125vw 3.125vw;
        .product {
            &__photo {
            	width: 50%;
                display: inline-block;
                vertical-align: top;
                img {
                    width: 100%;
                }
            }
            &__body {
                width: 50%;
                display: inline-block;
                vertical-align: top;
            }
            &__name{
            	font-size: 4.3vw;
				color: $black;
				margin-bottom: 1.5vw;
            }
        }
    }
}

.prices{
	&--basket{
		.prices{
			&__standart{
				font-size: 4.3vw;
				color: $black;
				display: inline-block;
				&--overstep{
					text-decoration: line-through;
					font-size: 3.75vw;
				}
			}
			&__new{
				font-size: 4.3vw;
				color: $red;
				display: inline-block;
				margin-left: 1.6vw;
			}
		}
	}
}