$orange: #f9913c;
.header--black {
    background-color: #FFF;
    .header {
        &__button-ham {
            span {
                background-color: #1f1f1f;
                &:before,
                &:after {
                    background-color: #1f1f1f;
                }
            }
        }
        &__basket {
            path {
                fill: $orange;
            }
            p {
                color: #1f1f1f;
            }
        }
    }
    .contact--header {
        color: #1f1f1f;
    }
    .button--transparent-bordered {
        color: #1f1f1f!important;
        border: 1px solid #1f1f1f;
    }
    .menu {
        &__item {
            color: #1f1f1f;
            &+.menu__item {
                &::after {
                    background-color: #1f1f1f;
                }
            }
        }
    }
}

.menu-opened {
    .header--black {
        .header {
            &__button-ham {
                span {
                    background-color: transparent;
                }
            }
        }
    }
}


.blog {
    padding: 120px 0 70px;
    &__title {
        text-align: center;
        font-size: 9.3vw;
        margin-bottom: 50px;
        color: #1f1f1f;
    }
    &__item {
        +.blog__item {
            margin-top: 50px;
        }
    }
    &__list {
        margin-bottom: 80px;
    }
    &__button-more {
        width: 100%;
    }
}

.article {
    &--small {
        position: relative;
        .article {
            &__photo {
                height: 62.5vw;
                position: relative;
                overflow: hidden;
                margin-bottom: 20px;
                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: auto;
                    height: 100%;
                    min-width: 100%;
                    min-height: 100%;
                }
            }
            &__link {
                display: inline-block;
                p {
                    border-bottom: 1px solid rgba(31, 31, 31, 0.2);
                    display: inline;
                    font-size: 18px;
                    color: #1f1f1f;
                    line-height: 30px;
                }
                &::before {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

@media(min-width: 580px) {
    .blog {
        padding: 150px 0 90px;
        &__container {
            padding: 0 span(1 of 24);
        }
        &__title {
            margin-bottom: 100px;
            font-size: 8.5vw;
        }
        &__item+.blog__item {
            margin-top: 100px;
        }
        &__list {
            margin-bottom: 100px;
        }
        &__button-more {
            width: span(10 of 22);
            display: block;
            margin: 0 auto;
        }
    }
    .article--small {
        .article {
            &__photo {
                height: 60vw;
            }
            &__link {
                p {
                    font-size: 24px;
                    line-height: 50px;
                }
                padding: 0 span(1 of 22);
            }
        }
    }
}

@media (min-width: 740px) {
    .blog {
        padding: 180px 0 110px;
        &__container {
            padding: 0 span(2 of 24);
        }
        &__title {
            font-size: 6.4vw;
        }
        &__item+.blog__item {
            margin-top: 100px;
        }
        &__list {
            margin-bottom: 130px;
        }
        &__button-more {
            width: span(8 of 20);
        }
    }
    .article--small {
        .article {
            &__photo {
                margin-bottom: 40px;
            }
            &__link {
                p {
                    font-size: 30px;
                }
                padding: 0 span(2 of 20);
            }
        }
    }
}

@media (min-width: 980px) {
    .blog {
        padding: 200px 0 90px;
        &__container {
            padding: 0 span(4 of 24);
        }
        &__title {
            font-size: 4.8vw;
        }
        &__item+.blog__item {
            margin-top: 130px;
        }
        &__list {
            margin-bottom: 110px;
        }
        &__button-more {
            width: span(6 of 16);
        }
    }
    .article--small {
        .article {
            &__photo {
                height: 46vw;
            }
            &__link {
                padding: 0 span(2 of 16);
            }
        }
    }
}

@media (min-width: 1240px) {
    .blog {
        padding: 240px 0 120px;
        &__container {
            padding: 0 span(1 of 24);
        }
        &__title {
            font-size: 4.8vw;
        }
        &__item+.blog__item {
            margin-top: 120px;
        }
        &__list {
            margin-bottom: 110px;
        }
        &__button-more {
            width: span(6 of 22);
        }
    }
    .article--small {
        .article {
            font-size: 0;
            &__photo {
                height: 36vw;
                width: span(12 of 22);
                margin-bottom: 0;
            }
            &__link {
                width: span(8 of 22);
                padding: 0;
            }
        }
        &:nth-child(odd) {
            height: 36vw;
            .article {
                &__photo {
                    position: absolute;
                    top: 0;
                    left: span(9 of 22);
                }
                &__link {
                    padding-top: 12vw;
                }
            }
        }
        &:nth-child(even) {
            .article {
                &__photo {
                    display: inline-block;
                    vertical-align: middle;
                }
                &__link {
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: span(1 of 22);
                }
            }
        }
    }
}

@media (min-width: 1560px) {
    .blog {
        padding: 250px 0 180px;
        &__container {
            padding: 0 span(2 of 24) 0 span(1 of 24);
        }
        &__title {
            font-size: 4.6vw;
            margin-bottom: 225px;
        }
        &__item+.blog__item {
            margin-top: 150px;
        }
        &__list {
            margin-bottom: 170px;
        }
        &__button-more {
            width: span(5 of 21);
        }
    }
    .article--small {
        .article {
            &__photo {
                height: 29vw;
                width: span(10 of 21);
            }
            &__link {
                width: span(8 of 21);
                p {
                    font-size: 36px;
                    line-height: 70px;
                }
            }
        }
        &:nth-child(odd) {
            height: 29vw;
            .article {
                &__photo {
                    left: span(11 of 21);
                }
                &__link {
                    margin-left: span(2 of 21);
                    padding-top: 12vw;
                }
            }
        }
        &:nth-child(even) {
            .article {
                &__link {
                    margin-left: span(1 of 21);
                }
            }
        }
    }
}

@media (min-width: 1880px) {
    .blog {
        padding: 290px 0 200px;
        &__container {
            padding: 0 span(3 of 24) 0 span(2 of 24);
        }
        &__title {
            font-size: 4.2vw;
            margin-bottom: 200px;
        }
        &__item+.blog__item {
            margin-top: 160px;
        }
        &__list {
            margin-bottom: 140px;
        }
        &__button-more {
            width: span(5 of 19);
        }
    }
    .article--small {
        .article {
            &__photo {
                height: 26.5vw;
                width: span(9 of 19);
            }
            &__link {
                width: span(8 of 19);
                p {
                    font-size: 48px;
                }
            }
        }
        &:nth-child(odd) {
            height: 26.5vw;
            .article {
                &__photo {
                    left: span(10 of 19);
                }
                &__link {
                    margin-left: span(1 of 19);
                    padding-top: 9vw;
                }
            }
        }
        &:nth-child(even) {
            .article {
                &__link {
                    margin-left: span(1 of 19);
                }
            }
        }
    }
}




/* HOVERS */

@media (min-width: 1240px) {
    .blog {
        &__button-more {
            transition: 0.5s ease;
            &:hover {
                background-color: #1f1f1f;
                color: #fff!important;
            }
        }
    }
    .article--small {
        .article {
            &__link {
                p {
                    transition: 0.5s ease;
                }
            }
            &__photo{
            	img{
            		transition: 0.5s ease;
            	}
            }
        }
        &:hover {
            .article {
                &__link {
                    p {
                        color: $orange;
                        border-color: $orange;
                    }
                }
                &__photo{
                	img{
                		transform: translate(-50%, -50%) scale(1.05);
                	}
                }
            }
        }
    }
    .header {
        &--black {
            .menu__item {
                &:hover {
                    color: #000;
                    border-color: #000;
                }
            }
            .contact {
                &:hover {
                    color: $orange;
                }
            }
            .header {
                &__call-back {
                    &:hover {
                        background-color: #1f1f1f;
                        color: #fff!important;
                    }
                }
                &__basket {
                    &:hover {
                        p {
                            color: $orange;
                        }
                    }
                }
            }
        }
    }
}