@import './node_modules/susy/sass/susy';
@import "reset.scss";
$green: #68be57;
$gray: #949494;
$darkgray: #393939;
$lightgray: #a3a3a3;
$darkblue: #505d66;
$susy: ( 'columns': susy-repeat(48),
'gutters': 0,
'spread': 'narrow',
'container-spread': 'narrow',
);

