+b.article--self-page
	+e.container.text--article-page.container
		p Готовка и наслаждение едой занимают в жизни китайцев важнейшее место, поэтому совершенно не следует удивляться тому, что с разнообразием китайской кухни сложно сравниться кухне любой другой страны.
		p При этом в Поднебесной популярностью пользуются как изысканные кушанья, как то акульи плавники или ласточкины гнезда, так и более простые, но при этом чертовски аппетитные блюда. Так, к примеру, китайский суп с лапшой готовится играючись просто, но при этом он очень вкусен.
		p Большинство китайских блюд готовится в специальной глубокой сковородке с выпуклым дном, которая называется вок, а приготовленные в ней кушанья обладают особо свежим вкусом и не содержат много жира.
		h3 Рис и грибы
		p Разумеется, что рис, как исторически основная пища китайцев, и сегодня входит в ежедневное меню жителей страны во всех мыслимых и немыслимых вариантах. Очень часто в качестве гарнира здесь подают разнообразные грибы, особенным же деликатесом считаются грибы шиитаке.
		img(src="/img/2.jpg")
		h3 Утка по-пекински
		p В кулинарном смысле Китай можно разделить на четыре основных региона: Север, Восток, Юг и Запад. </br>Для северной части страны типичным национальным блюдом представляется утка по-пекински. Подают ее здесь на стол традиционно нарезанной тоненькими ломтиками со сливовым соусом и луком.
		p Но следует учитывать, что кухня китайского севера отличается большим количеством соли, что для европейцев поначалу может оказаться непривычным.
		h3 Дим-самы и морепродукты
		p На юге Китая наиболее типичным и популярным блюдом являются так называемые «дим-сам», представляющие собой пельмени (в различных вариациях), которые во время еды макаются в разные соусы. В то время как северную кухню Китая можно назвать соленой, южно-китайская кухня представляется в основном сладкой. При этом на юге Китая на столе обычно присутствуют и морепродукты, приготовленные по традиционным местным рецептам.
		p Восток Китая в кулинарном смысле отличается тем, что пища здесь более жирная и маслянистая. Особенно доминирует на востоке страны так называемая шанхайская кухня.
		img(src="/img/3.jpg")
		h3 Супы и спринг-роллы
		p Едой в Китае никогда не наслаждаются в одиночку. Обычно пообедать договариваются несколько человек, а в процессе принятия пищи они торжественно соблюдают порядок подачи блюд. Во время еды в Китае принято разговаривать и курить, нередко традиционная китайская трапеза состоит из нескольких закусок и основных блюд.
		p Окончание трапезы обычно знаменует суп – он должен заполнить желудок. В Китае суп принято громко хлебать, что в этой стране ни в коем случае не считается недостатком воспитания и манер. Возвращаясь к закускам, нельзя не отметить, что особой популярностью среди них пользуются спринг-роллы с широчайшим спектром начинок.
		h3 Десерты: бананы, блины, печенья с предсказаниями
		p Не меньшее значение в китайской трапезе, чем и сам обед, занимает десерт. Тут, к примеру, очень любимым лакомством слывут жареные бананы. Также на десерт китайцы очень любят особые блины с бобовой пастой.
		p Венцом китайской трапезы считаются печенья с предсказаниями. Кстати, эта традиция очень распространена и в китайских ресторанах по всему миру.
	+e.navigation
		+e.A(href="#").button--prev.button--bordered-black.--transparent-black-1240px Следующая статья
		+e.A(href="#").button--next.button--bordered-black.--transparent-black-1240px Предыдущая статья
	+b.to-top
		span Наверх