+b.FORM.basket
	+e.container.container
		+e.title--general Корзина
		+e.products.products__.--basket
			+e.counter 4
			+e.wrapper 
				+e.item.product__.--basket
					+e.photo
						img(src="/img/product-1.jpg")
					+e.body
						+e.description
							+e.name Гонгконгская вафля классическая
							+e.prices.prices__.--basket
								+e.standart--overstep 350
								+e.new 70
						+e.counter.counter__
							+e.button--plus +
							+e.value 1
							+e.button--minus -
					+e.BUTTON(type="button").delete.button--gray Удалить из карзины
						span
						span
				+e.item.product__.--basket
					+e.photo
						img(src="/img/product-2.jpg")
					+e.body
						+e.description
							+e.name Гонгконгская вафля классическая
							+e.prices.prices__.--basket
								+e.standart 250
						+e.counter.counter__
							+e.button--plus +
							+e.value 1
							+e.button--minus -
					+e.BUTTON(type="button").delete.button--gray Удалить из карзины
						span
						span
				+e.item.product__.--basket
					+e.photo
						img(src="/img/product-3.jpg")
					+e.body
						+e.description
							+e.name Гонгконгская вафля классическая
							+e.prices.prices__.--basket
								+e.standart 150
						+e.counter.counter__
							+e.button--plus +
							+e.value 1
							+e.button--minus -
					+e.BUTTON(type="button").delete.button--gray Удалить из карзины
						span
						span
				+e.item.product__.--basket
					+e.photo
						img(src="/img/product-4.jpg")
					+e.body
						+e.description
							+e.name Гонгконгская вафля классическая
							+e.prices.prices__.--basket
								+e.standart--overstep 450
								+e.new 100
						+e.counter.counter__
							+e.button--plus +
							+e.value 1
							+e.button--minus -
					+e.BUTTON(type="button").delete.button--gray Удалить из карзины
						span
						span
		+e.address.form__.--basket
			+e.name Получатель
			+e.options
				+e.radio.radio
					input(type="radio" name="shipment" value="Курьером" id="radio-1")
					label(for="radio-2")
				+e.radio.radio
					input(type="radio" name="shipment" value="Самовывоз" id="radio-2")
					label(for="radio-2")
			+e.input.input.check
				input(type="tel" name="phone" placeholder="Номер телефона")
			+e.input--small.input.check
				input(type="text" name="street" placeholder="Улица")
			+e.input--small.input.check
				input(type="text" name="home" placeholder="Дом")
			+e.input.input
				input(type="text" name="office" placeholder="Кв/Офис")
			+e.textarea.textarea
				textarea(name="comment" placeholder="Комментарий")
			+e.text.dashed Условия доставки
		+e.payments
			+e.title Способы оплаты
			+b.payment__
				input(type="radio" name="payment" value="Банковской картой онлайн" id="radio-3")
				label(for="radio-3")
				+e.photo 
					img(src="/img/payment1.svg")
				+e.name Банковской картой онлайн
			+b.payment__
				input(type="radio" name="payment" value="Банковской картой при получении" id="radio-4")
				label(for="radio-4")
				+e.photo 
					img(src="/img/payment2.svg")
				+e.name Банковской картой при получении
			+b.payment__
				input(type="radio" name="payment" value="Наличными при получение" id="radio-5")
				label(for="radio-5")
				+e.photo 
					img(src="/img/payment3.svg")
				+e.name Наличными при получение
		+e.summary.total__
			+e.price 1500
			+e.delivery 300
			+e.recall
				+b.checkbox
					input(name="recall" id="checkbox-1" value="no" type="checkbox")
					label(for="checkbox-1")
				p Не перезванивать мне
			+e.privacy При оформлении Вы принимаете
				a(href="#") пользовательское соглашение
			+e.final 1800
			+e.BUTTON(type="button").button.button--orange Оформить заказ
	+e.close
		span
		span

				




