+b.blog
	+e.container.container
		+e.H1.title Полезное
		+e.list
			+e.item.article__.--small
				+e.photo
					img(src="/img/1.jpg")
				+e(href="#").A.link
					p Шедевр азиатской кухни: как готовить «королевский» суп Том Ям
			+e.item.article__.--small
				+e.photo
					img(src="/img/2.jpg")
				+e(href="#").A.link 
					p Шедевр азиатской кухни: как готовить «королевский» суп Том Ям
			+e.item.article__.--small
				+e.photo
					img(src="/img/3.jpg")
				+e(href="#").A.link 
					p Шедевр азиатской кухни: как готовить «королевский» суп Том Ям
			+e.item.article__.--small
				+e.photo
					img(src="/img/4.jpg")
				+e(href="#").A.link 
					p Шедевр азиатской кухни: как готовить «королевский» суп Том Ям			
		+e(type="button").button-more.button--bordered-black Загрузить ещё
