+b.footer.scroll
	+e.container.container
		+e.left
			+e.UL.menu-left.menu__.--footer
				+e.item
					a(href="#") Об Orange Chiken
				+e.item
					a(href="#") Акции
				+e.item
					a(href="#") Доставка
				+e.item
					a(href="#") Меню
				+e.item
					a(href="#") Вакансии
			+e.UL.menu-right.menu__.--footer
				+e.item
					a(href="#") Вопросы и ответы
				+e.item
					a(href="#") Полезное
				+e.item
					a(href="#") О кухне
				+e.item
					a(href="#") Оплата
			+e.socials.socials__.--footer
				+e.item--vk
				+e.item--insta
				+e.item--facebook
				+e.item--google
			+e.description.text--footer
				p Мы заботимся о качестве нашего сервиса и прислушиваемся к каждому клиенту, если у вас есть предложение по улучшению качества обслуживания, то 
					span.dashed._callPopup оставьте мнение
		+e#map.map
			+e.map-overlay
				img(src="/img/map.jpg")
	+e.bottom.text--copyright
		+e.A(href="#").mail contact@orangechicken.com
		+e.P.copyright 2017 Все права защищены
		+e.P.name ООО «Orange Chicken»
		+e.A(href="#").policy Политика конфиденциальности
		+e.logos
			img(src="/img/mastercard.svg")
			img(src="/img/visa.svg")
			img(src="/img/paykeeper.svg")
			
