+b.main--article
	+e.bg
		img(src="/img/1.jpg")
		+e.article-overlay
	+e.container.container
		+e.title.text--article-page
			span Полезное
			h1 Особенности китайской кухни
		+e.socials.socials__.--main
			p Поделиться:
			+e.item--vk
			+e.item--insta
			+e.item--facebook
			+e.item--google