+b.main.scroll
	+e.slider.slider__.--main
		+e.item
			+e.bg
				img(src="/img/1.jpg")
			+e.content.text--main
				h2
					span Orange Chiken —
					| лучшее из Азии
				+e.button.button--orange Заказать любимое блюдо
		+e.item
			+e.bg
				img(src="/img/2.jpg")
			+e.content.text--main
				h2
					span Хит сезона —
					| гонконгские вафли
				+e.button.button--orange Выбрать
		+e.item
			+e.bg
				img(src="/img/3.jpg")
			+e.content.text--main
				h2
					span Orange Chiken —
					| лучшее из Азии
				+e.button.button--orange Заказать любимое блюдо
		+e.item
			+e.bg
				img(src="/img/4.jpg")
			+e.content.text--main
				h2
					span Orange Chiken —
					| лучшее из Азии
				+e.button.button--orange Заказать любимое блюдо
		+e.item
			+e.bg
				img(src="/img/5.jpg")
			+e.content.text--main
				h2
					span Orange Chiken —
					| лучшее из Азии
				+e.button.button--orange Заказать любимое блюдо
	+e.counter
		span 01
		span /05
	+e.numbers
		ul
		+e.numbers-point
	+e.menu.menu__.--main
		+e.A(href="#").item.dashed--white Китайские международные хиты
		+e.A(href="#").item.dashed--white Японские пончики
		+e.A(href="#").item.dashed--white Вьетнамский Фо Бо
		+e.A(href="#").item.dashed--white Гонконгские вафли
	+e.arrows
		span
		span
	+e.A(href="#").about
		span i
		p Узнать о кухне
