extends blocks/layout.pug

block head
	script(type="text/javascript" src="http://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;coordorder=longlat")
block header
	include blocks/header.pug
	
block content
	include blocks/main.pug
	include blocks/footer.pug
block footer-scripts
	script(src="/js/map.bundle.js" defer="defer")
	script(src="/js/index-scroll.bundle.js" defer="defer")